{% include 'AdminPageHeader.html' %}
<html>
<head>
    <style>
        #cs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #cs td, #cs th {

                padding: 8px;
            }



            #cs tr:hover {
                background-color: #ddd;
            }

            #cs th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
            }
    </style>
</head>
<body>

<form id="form1" name="form1" method="post" action="AddFineType">

        <table width="318" border="0" align="center" id="cs">
            <tr><th colspan="2"><h2>Add Fine</h2></th></tr>

                <tr><th>Fine Type</th><td><input name="TxtFine" type="text" required></td></tr><br>
             <tr><th>Latitude</th><td> <label><input name="TxtLatitude"  type="number"  step="0.0001" min="0" max="10000" required/>  </label></td></tr>
             <tr><th>Longitude</th><td> <label><input name="TxtLongitude"  type="number" step="0.0001" min="0" max="10000" required/>  </label></td></tr>
 <tr><th>Speed Limit</th><td><input name="TxtLimit" type="number" required min="0" ></td></tr><br>
                <tr><th>Amount</th><td><input name="TxtAmount" type="number" required min="0" ></td></tr><br>



            <tr>
                <td>&nbsp;</td>
                <td>
                    <label>
                        <input type="submit" name="Submit" value="Submit"  class="section-btn"/>
                    </label>
                </td>
            </tr>
        </table>

</form>
</body>
</html>
{% include 'LoginFooter.html' %}
