{% include 'AdminPageHeader.html' %}
<html>
<head>
    <style>
        #cs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #cs td, #cs th {

                padding: 8px;
            }



            #cs tr:hover {
                background-color: #ddd;
            }

            #cs th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
            }
    </style>
</head>
<body>

<form id="form1" name="form1" method="post" action="SearchVehicle">

        <table width="318" border="0" align="center" id="cs">
            <tr><th colspan="2"><h2>Search Vehicle Details</h2></th></tr>

             <tr><th>Vehicle Number</th><td> <label><input name="TxtVehicle" required/>  </label></td></tr>
             </label></td></tr>
  <br>
              <tr>
                    <td>&nbsp;</td>
                    <td>
                    <label>
                        <input type="submit" name="Submit" value="Submit"  class="section-btn"/>
                    </label>
                </td>
              </tr>
        </table>

</form>
</body>
</html>
{% include 'LoginFooter.html' %}
